.dropdown {
    position: absolute;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    background-color: #F5C25C;
    max-height: 80px;
    border-radius: 0 0 4px 4px;
    padding: 10px 7px;
    margin: 0;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 1;
    cursor: pointer;
}
  
.dropdown > li {
    padding: 2px 0;
}

.dots {
    display: inline-block;
    margin: 0 auto;
}
  
/* Add border bottom and margin to every list item except last one */
.dropdown > li:not(li:last-of-type) {
    border-bottom: 1px solid #cfcece;
    margin-bottom: 2px;
}