.select__container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.langButton {
    width: auto;
    height: 30px;
    border-radius: 2px;
    border: none;
    color: #F5C25C;
    font-size: 0.7rem;
    text-align: center;
    cursor: pointer;
}

.langInput {
    width: 100px;
    height: 30px;
    margin: 0 30px;
    border-radius: 2px;
    border: none;
    color: #4C3470;
    font-size: 1rem;
    text-align: left;
}

@media only screen and (max-width: 760px) {
    .langButton {
        padding: 5px 10px;
        margin: 0 2px;
    }
}