.App {
  background: url("./assets/paperplane.png") no-repeat top right;
  background-size: 500px 400px;
  text-align: center;
  color: #4C3470;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}
a:hover {
  color: #F5C25C;
  zoom:110%;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
}

li {
  list-style: none;
}

.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

@media only screen and (max-width: 760px) {

  .App {
    background: none;
  }
  
}



